script(src="/node_modules/angular/angular.js")
script(src="/node_modules/angular-resource/angular-resource.js")
script(src="/public/sr-assessments/app.js")

script(src="/public/sr-assessments/assessments/list/list.module.js")
script(src="/public/sr-assessments/assessments/list/list.controller.js")
script(src="/public/sr-assessments/assessments/list/list.component.js")
script(src="/public/sr-assessments/assessments/list-item/list-item.component.js")

script(src="/public/sr-assessments/offers/list/list.module.js")
script(src="/public/sr-assessments/offers/list/list.controller.js")
script(src="/public/sr-assessments/offers/list/list.component.js")
script(src="/public/sr-assessments/offers/list-item/list-item.component.js")

script(src="/public/sr-assessments/configs/list/list.module.js")
script(src="/public/sr-assessments/configs/list/list.controller.js")
script(src="/public/sr-assessments/configs/list/list.component.js")
script(src="/public/sr-assessments/configs/list-item/list-item.component.js")

script(src="/public/sr-assessments/comments/list/list.module.js")
script(src="/public/sr-assessments/comments/list/list.controller.js")
script(src="/public/sr-assessments/comments/list/list.component.js")
script(src="/public/sr-assessments/comments/list-item/list-item.component.js")

script(src="/public/sr-assessments/results/list/list.module.js")
script(src="/public/sr-assessments/results/list/list.controller.js")
script(src="/public/sr-assessments/results/list/list.component.js")
script(src="/public/sr-assessments/results/list-item/list-item.component.js")

script(src="/public/sr-assessments/attachments/list/list.module.js")
script(src="/public/sr-assessments/attachments/list/list.controller.js")
script(src="/public/sr-assessments/attachments/list/list.component.js")
script(src="/public/sr-assessments/attachments/list-item/list-item.component.js")

script(src="/public/sr-assessments/goTo/goTo.module.js")
script(src="/public/sr-assessments/goTo/goTo.controller.js")
