extends _layout

block scripts
    include _scripts

block head
    link(rel='stylesheet' href='/styles/inline-assessment.css')
    title SmartRecruiters Assessments App

block content
    main(ng-app="srAssessments")
        h1 SmartRecruiters Assessments App
        a(href='https://github.com/wojtek-zajac/express-api-fetch', target='_blank') Git repository

        div.margin-top--l
            a.margin-right--m(ui-sref="assessments", ui-sref-active="active") Assessments
            a.margin-right--m(ui-sref="results", ui-sref-active="active") Results
            a.margin-right--m(ui-sref="attachments", ui-sref-active="active") Attachments
            a.margin-right--m(ui-sref="comments", ui-sref-active="active") Comments
            a.margin-right--m(ui-sref="settings", ui-sref-active="active") Settings

            ui-view

        div.ng-hide
            hr
            div
                button(ng-click="showAssessmentsList = !showAssessmentsList") GET Assessments
                assessments-list(ng-show="showAssessmentsList")
                    list-assessment-item
                div(ng-controller="GoToCtrl")
                    button(ng-click="goTo('/assessments')") GET JSON Assessments
                hr
            div
                button(ng-click="showOffersList = !showOffersList") GET Offers
                offers-list(ng-show="showOffersList")
                    list-offer-item
                div(ng-controller="GoToCtrl")
                    button(ng-click="goTo('/offers')") GET JSON Offers
                hr
            div
                button(ng-click="showConfigsList = !showConfigsList") GET Configs
                configs-list(ng-show="showConfigsList")
                    list-config-item
                div(ng-controller="GoToCtrl")
                    button(ng-click="goTo('/configs')") GET JSON Configs
                hr
            div
                button(ng-click="showCommentsList = !showCommentsList") GET Comments
                comments-list(ng-show="showCommentsList")
                    list-comment-item
                div(ng-controller="GoToCtrl")
                    button(ng-click="goTo('/assessments/58b055e3e4b029a4a26a6c77/comments')") GET JSON Comments
                hr
            div
                button(ng-click="showResultsList = !showResultsList") GET Results
                results-list(ng-show="showResultsList")
                    list-result-item
                div(ng-controller="GoToCtrl")
                    button(ng-click="goTo('/assessments/58b055e3e4b029a4a26a6c77/results')") GET JSON Results
                hr
            div
                button(ng-click="showAttachmentsList = !showAttachmentsList") GET Attachments
                attachments-list(ng-show="showAttachmentsList")
                    list-attachment-item
                div(ng-controller="GoToCtrl")
                    button(ng-click="goTo('/assessments/58b055e3e4b029a4a26a6c77/results/5d4354bc9985c62db17fcba3/attachments')") GET JSON Attachments
                hr
