extends _layout

block scripts
    include _scripts

block content
    main(ng-app="srAssessments")
        h1 SmartRecruiters Assessments App
        a(href='https://github.com/wojtek-zajac/express-api-fetch', target='_blank') Git repository
        div
            button(ng-click="showAssessmentsList = !showAssessmentsList") Assessments
            assessments-list(ng-show="showAssessmentsList")
                list-assessment-item
        div
            button(ng-click="showOffersList = !showOffersList") Offers
            offers-list(ng-show="showOffersList")
                list-offer-item
        div
            button(ng-click="showConfigsList = !showConfigsList") Configs
            configs-list(ng-show="showConfigsList")
                list-config-item
        div
            button(ng-click="showCommentsList = !showCommentsList") Comments
            comments-list(ng-show="showCommentsList")
                list-comment-item
