extends ../_layout

block scripts
    script(src="/node_modules/angular/angular.js")
    script(src="/node_modules/angular-resource/angular-resource.js")
    script(src="/public/sr-assessments/inline-assessment/test.module.js")
    script(src="/public/sr-assessments/inline-assessment/test.component.js")
    script(src="/public/sr-assessments/inline-assessment/test.controller.js")
    script(src="/public/sr-assessments/inline-assessment/app.js")

block head
    link(rel='stylesheet' href='/styles/inline-assessment.css')
    title Quick HTML test

block content
    main(ng-app="srInlineAssessment", ng-controller="QuickTestCtrl")
        h1.inline-assessment-title Quick HTML test
        h2 1. What does HTML stand for?
        br
        label.radio-inline
            input(type='radio', name='question1', value='1', ng-model="questions.answer_1")
            span.answer-label Hyper Text Markup Language
        br
        label.radio-inline
            input(type='radio', name='question1', value='2', ng-model="questions.answer_1")
            span.answer-label Home Tool Markup Language
        br
        label.radio-inline
            input(type='radio', name='question1', value='3', ng-model="questions.answer_1")
            span.answer-label Hyperlinks and Text Markup Language
        h2 2. Choose the correct HTML element for the largest heading:
        br
        label.radio-inline
            input(type='radio', name='question2', value='1', ng-model="questions.answer_2")
            span.answer-label &lt;head&gt;
        br
        label.radio-inline
            input(type='radio', name='question2', value='2', ng-model="questions.answer_2")
            span.answer-label &lt;h1&gt;
        br
        label.radio-inline
            input(type='radio', name='question2', value='3', ng-model="questions.answer_2")
            span.answer-label &lt;heading&gt;
        br
        label.radio-inline
            input(type='radio', name='question2', value='4', , ng-model="questions.answer_2")
            span.answer-label &lt;h6&gt;
        h2 3. What is the correct HTML element for inserting a line break?
        br
        label.radio-inline
            input(type='radio', name='question3', value='1', ng-model="questions.answer_3")
            span.answer-label &lt;break&gt;
        br
        label.radio-inline
            input(type='radio', name='question3', value='2', ng-model="questions.answer_3")
            span.answer-label &lt;lb&gt;
        br
        label.radio-inline
            input(type='radio', name='question3', value='3', ng-model="questions.answer_3")
            span.answer-label &lt;br&gt;
        br
        button.submit-test(ng-click="submitAnswers()") Submit
