extends ../_layout

block head
    link(rel='stylesheet' href='/styles/inline-assessment.css')
    title Quick HTML test result

block content
    if passed === 'true'
        h1.result-passed.result-topbar PASSED
    else
        h1.result-failed.result-topbar FAILED
